Synopticon/.vs/*
Synopticon/Build/*
Synopticon/Saved/*
Synopticon/Resources/*
Synopticon/Binaries/*
Synopticon/Intermediate/*
Synopticon/Resources/Replays/*
Synopticon/Saved/*
Synopticon/enc_temp_folder/*
Synopticon/PackagedVersions/*