html { 
  background: url(Resources/DCC_central_1080.png) no-repeat center center fixed; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

body {
   margin-top: 100%;
   min-height: 100%;
   width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}